{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<title>Account</title>
</head>
<body>
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

        <nav>
                <div class="nav-wrapper cyan darken-2">
                  <a href="#!" class="brand-logo"></a>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down ">
                          {% if user.is_authenticated %}
                          <li><a href="{% url "index" %}">Dashboard</a></li>
                          <li><a href="{% url "query" %}">Raise Query</a></li>
                          <li><a href="{% url "logout" %}">Logout</a></li>
                          {% else %}
                          <li><a href="{% url "index" %}">Login</a></li>
                          <li><a href="{% url "signup" %}">Signup</a></li>
                          {% endif %}
                        </ul>
                      </div>
                    </nav>
                  
                    <ul class="sidenav" id="mobile-demo">
                        {% if user.is_authenticated %}
                        <li><a href="{% url "index" %}">Dashboard</a></li>
                        <li><a href="{% url "query" %}">Raise Query</a></li>
                        <li><a href="{% url "logout" %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url "index" %}">Login</a></li>
                        <li><a href="{% url "signup" %}">Signup</a></li>
                        {% endif %}
                    </ul>
    <div class="container center">
        {% block content %}
    
        {% endblock %}
    </div>
</body>
<script>
        var elem = document.querySelector('.sidenav');
     var instance = M.Sidenav.init(elem);
   
     // Or with jQuery
   
     $(document).ready(function(){
       $('.sidenav').sidenav();
     });
   </script>
</html>